* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #020b1f, #061a3a);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* BOX */
.login-box {
  background: #03152e;
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 123, 255, 0.2);

  /* ANIMAÇÃO */
  animation: aparecer 0.6s ease;
}

/* LOGO */
.logo img {
  width: 300px;
  height: 200px;
}

.logo h1 {
  margin-top: 10px;
  color: white;
}

.logo span {
  font-size: 12px;
  color: #aaa;
}

/* TEXTOS */
h2 {
  margin-top: 20px;
  color: white;
}

.sub {
  color: #aaa;
  margin-bottom: 20px;
}

/* FORM */
form {
  text-align: left;
}

label {
  color: #ccc;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  background: #021027;
  color: white;
  transition: 0.3s;
}

/* FOCO INPUT */
input:focus {
  border: 1px solid #00c6ff;
  box-shadow: 0 0 8px rgba(0, 198, 255, 0.4);
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 15px;
}

.options a {
  color: #00aaff;
  text-decoration: none;
}

/* BOTÃO PRINCIPAL */
.buttons {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 198, 255, 0.5);
}

/* DIVISOR */
.divider {
  margin: 20px 0;
  color: #aaa;
}

/* BOTÃO SECUNDÁRIO */
.btn-secundario {
  display: block;
  border: 1px solid #00aaff;
  padding: 10px;
  border-radius: 10px;
  color: #00aaff;
  text-decoration: none;
  transition: 0.3s;
}

.btn-secundario:hover {
  background: #00aaff;
  color: black;
}

/* SEGURANÇA */
.seguro {
  margin-top: 15px;
  font-size: 12px;
  color: #888;
}

/* ANIMAÇÃO */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVO */
@media (max-width: 480px) {
  .login-box {
    padding: 25px;
  }
}