* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
   background: rgb(51, 51, 51);
}

/* HEADER */
.header {
  background: linear-gradient(90deg, #000000, #000f27);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
}

/*logo*/

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 250px;
  height: 100px;
}

.logo h1 {
  font-size: 22px;
}

.logo span {
  font-size: 12px;
  color: #aaa;
}

.info {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

/*button login/suporte*/
.button{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #00aaff;
  border-radius: 6px;
  transition: 0.3s;
}

.button:hover {
  background: #00aaff;
  color: #000000;
}

/* CONTEÚDO DO PRODUTO */
.produto-cx {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
  background: white;
  margin: 30px;
  border-radius: 12px;
}

/* IMAGEM */
.produto-img img {
  width: 100%;
  max-width: 400px;
}

/* DESC */
.produto-DESC h2 {
  font-size: 24px;
}

.desc {
  color: #666;
  margin: 10px 0;
}

.avaliacao {
  margin: 10px 0;
  color: #ffaa00;
}

.preco {
  display: block;
  font-size: 28px;
  color: #007bff;
  font-weight: bold;
  margin: 15px 0;
}

.parcelamento {
  color: #555;
}

.estoque {
  color: green;
  margin: 10px 0;
}

/* BOTÕES */
.acoes {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.button-comprar {
  background: linear-gradient(135deg, #007bff, #00c6ff);
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* BLOCO */
.descricao-produto {
  background: white;
  margin: 30px;
  padding: 20px;
  border-radius: 12px;
}

/* ABAS */
.tabs {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
}

.tab {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}

.tab.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

/* CONTEÚDO */
.aba {
  display: none;
}

.aba.ativa {
  display: block;
}

.aba ul {
  margin-top: 10px;
  padding-left: 20px;
}

.aba li {
  margin-bottom: 5px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .produto-container {
    grid-template-columns: 1fr;
  }
}