* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: rgb(51, 51, 51);
}

/* HEADER */
.header {
  background: linear-gradient(90deg, #000000, #000f27);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
}

/*logo*/

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 250px;
  height: 100px;
}

.logo h1 {
  font-size: 22px;
}

.logo span {
  font-size: 12px;
  color: #aaa;
}

.info {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

/*button login/suporte*/
.button{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #00aaff;
  border-radius: 6px;
  transition: 0.3s;
}

.button:hover {
  background: #00aaff;
  color: #000000;
}
/*buttons de compra*/
.buttons {
  display: inline-block;
  margin-top: 12px;
  padding: 12px 22px;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

/* HOVER */
.buttons:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.5);
  background: linear-gradient(135deg, #0056b3, #0096c7);
}

/* CLICK */
.buttons:active {
  transform: scale(0.97);
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

/* BANNER */
.banner {
  background: linear-gradient(90deg, #02132b, #00183d);
  color: white;
  padding: 50px 40px;
}

.banner h2 {
  font-size: 40px;
}

.banner p {
  color: #00aaff;
  margin-top: 10px;
}

/* catalogo */
.catalogo {
  display: flex;
  gap: 10px;
  padding: 15px 40px;
  background: #111;
  overflow-x: auto;
}

.catalogo button {
  background: #222;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.catalogo .BT_PROD {
  background: #007bff;
}

/* PRODUTOS */
.pdt {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px 40px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgb(53, 134, 255)
}

.card img {
  width: 100%;
  max-width: 150px;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  color: #666;
}

.preço {
  display: block;
  margin-top: 10px;
  color: #007bff;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .info {
    flex-direction: column;
    gap: 5px;
  }

  .banner h2 {
    font-size: 28px;
  }
}